
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myApekshaLabel" data-translate="janasanthwanamApp.apeksha.home.createOrEditLabel">Create or edit a Apeksha</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.apeksha.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.apeksha.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="janasanthwanamApp.apeksha.applicationNumber" for="field_applicationNumber">Application Number</label>
            <input type="text" class="form-control" name="applicationNumber" id="field_applicationNumber"
                    ng-model="vm.apeksha.applicationNumber"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="janasanthwanamApp.apeksha.beneficiaryName" for="field_beneficiaryName">Beneficiary Name</label>
            <input type="text" class="form-control" name="beneficiaryName" id="field_beneficiaryName"
                    ng-model="vm.apeksha.beneficiaryName"
                    required/>
            <div ng-show="editForm.beneficiaryName.$invalid">
                <p class="help-block"
                    ng-show="editForm.beneficiaryName.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="janasanthwanamApp.apeksha.district" for="field_district">District</label>
            <input type="text" class="form-control" name="district" id="field_district"
                    ng-model="vm.apeksha.district"
                    required/>
            <div ng-show="editForm.district.$invalid">
                <p class="help-block"
                    ng-show="editForm.district.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="janasanthwanamApp.apeksha.gender" for="field_gender">Gender</label>
            <input type="text" class="form-control" name="gender" id="field_gender"
                    ng-model="vm.apeksha.gender"
                    required/>
            <div ng-show="editForm.gender.$invalid">
                <p class="help-block"
                    ng-show="editForm.gender.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="janasanthwanamApp.apeksha.fathersName" for="field_fathersName">Fathers Name</label>
            <input type="text" class="form-control" name="fathersName" id="field_fathersName"
                    ng-model="vm.apeksha.fathersName"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="janasanthwanamApp.apeksha.age" for="field_age">Age</label>
            <input type="number" class="form-control" name="age" id="field_age"
                    ng-model="vm.apeksha.age"
                    required/>
            <div ng-show="editForm.age.$invalid">
                <p class="help-block"
                    ng-show="editForm.age.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.age.$error.number" data-translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="janasanthwanamApp.apeksha.dateOfBirth" for="field_dateOfBirth">Date Of Birth</label>
                <div class="input-group">
                    <input id="field_dateOfBirth" type="text" class="form-control" name="dateOfBirth" uib-datepicker-popup="{{dateformat}}" ng-model="vm.apeksha.dateOfBirth" is-open="vm.datePickerOpenStatus.dateOfBirth"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('dateOfBirth')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="janasanthwanamApp.apeksha.aadharNumber" for="field_aadharNumber">Aadhar Number</label>
            <input type="text" class="form-control" name="aadharNumber" id="field_aadharNumber"
                    ng-model="vm.apeksha.aadharNumber"
                    required/>
            <div ng-show="editForm.aadharNumber.$invalid">
                <p class="help-block"
                    ng-show="editForm.aadharNumber.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="janasanthwanamApp.apeksha.rationCardNumber" for="field_rationCardNumber">Ration Card Number</label>
            <input type="text" class="form-control" name="rationCardNumber" id="field_rationCardNumber"
                    ng-model="vm.apeksha.rationCardNumber"
                    required/>
            <div ng-show="editForm.rationCardNumber.$invalid">
                <p class="help-block"
                    ng-show="editForm.rationCardNumber.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="janasanthwanamApp.apeksha.rationCardCategory" for="field_rationCardCategory">Ration Card Category</label>
            <input type="text" class="form-control" name="rationCardCategory" id="field_rationCardCategory"
                    ng-model="vm.apeksha.rationCardCategory"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="janasanthwanamApp.apeksha.caste" for="field_caste">Caste</label>
            <input type="text" class="form-control" name="caste" id="field_caste"
                    ng-model="vm.apeksha.caste"
                    required/>
            <div ng-show="editForm.caste.$invalid">
                <p class="help-block"
                    ng-show="editForm.caste.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="janasanthwanamApp.apeksha.religion" for="field_religion">Religion</label>
            <input type="text" class="form-control" name="religion" id="field_religion"
                    ng-model="vm.apeksha.religion"
                    required/>
            <div ng-show="editForm.religion.$invalid">
                <p class="help-block"
                    ng-show="editForm.religion.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="janasanthwanamApp.apeksha.houseName" for="field_houseName">House Name</label>
            <input type="text" class="form-control" name="houseName" id="field_houseName"
                    ng-model="vm.apeksha.houseName"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="janasanthwanamApp.apeksha.houseNumber" for="field_houseNumber">House Number</label>
            <input type="text" class="form-control" name="houseNumber" id="field_houseNumber"
                    ng-model="vm.apeksha.houseNumber"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="janasanthwanamApp.apeksha.tcNumber" for="field_tcNumber">Tc Number</label>
            <input type="text" class="form-control" name="tcNumber" id="field_tcNumber"
                    ng-model="vm.apeksha.tcNumber"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="janasanthwanamApp.apeksha.village" for="field_village">Village</label>
            <input type="text" class="form-control" name="village" id="field_village"
                    ng-model="vm.apeksha.village"
                    required/>
            <div ng-show="editForm.village.$invalid">
                <p class="help-block"
                    ng-show="editForm.village.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="janasanthwanamApp.apeksha.panchayat" for="field_panchayat">Panchayat</label>
            <input type="text" class="form-control" name="panchayat" id="field_panchayat"
                    ng-model="vm.apeksha.panchayat"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="janasanthwanamApp.apeksha.postOffice" for="field_postOffice">Post Office</label>
            <input type="text" class="form-control" name="postOffice" id="field_postOffice"
                    ng-model="vm.apeksha.postOffice"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="janasanthwanamApp.apeksha.mobileNumber" for="field_mobileNumber">Mobile Number</label>
            <input type="text" class="form-control" name="mobileNumber" id="field_mobileNumber"
                    ng-model="vm.apeksha.mobileNumber"
                    required/>
            <div ng-show="editForm.mobileNumber.$invalid">
                <p class="help-block"
                    ng-show="editForm.mobileNumber.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="janasanthwanamApp.apeksha.landLineWithSTD" for="field_landLineWithSTD">Land Line With STD</label>
            <input type="text" class="form-control" name="landLineWithSTD" id="field_landLineWithSTD"
                    ng-model="vm.apeksha.landLineWithSTD"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="janasanthwanamApp.apeksha.pinCode" for="field_pinCode">Pin Code</label>
            <input type="text" class="form-control" name="pinCode" id="field_pinCode"
                    ng-model="vm.apeksha.pinCode"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="janasanthwanamApp.apeksha.occupation" for="field_occupation">Occupation</label>
            <input type="text" class="form-control" name="occupation" id="field_occupation"
                    ng-model="vm.apeksha.occupation"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="janasanthwanamApp.apeksha.annualIncome" for="field_annualIncome">Annual Income</label>
            <input type="number" class="form-control" name="annualIncome" id="field_annualIncome"
                    ng-model="vm.apeksha.annualIncome"
                    required/>
            <div ng-show="editForm.annualIncome.$invalid">
                <p class="help-block"
                    ng-show="editForm.annualIncome.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.annualIncome.$error.number" data-translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="janasanthwanamApp.apeksha.familyDetails" for="field_familyDetails">Family Details</label>
            <input type="text" class="form-control" name="familyDetails" id="field_familyDetails"
                    ng-model="vm.apeksha.familyDetails"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="janasanthwanamApp.apeksha.landTotalCent" for="field_landTotalCent">Land Total Cent</label>
            <input type="text" class="form-control" name="landTotalCent" id="field_landTotalCent"
                    ng-model="vm.apeksha.landTotalCent"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="janasanthwanamApp.apeksha.landThaluk" for="field_landThaluk">Land Thaluk</label>
            <input type="text" class="form-control" name="landThaluk" id="field_landThaluk"
                    ng-model="vm.apeksha.landThaluk"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="janasanthwanamApp.apeksha.landVillage" for="field_landVillage">Land Village</label>
            <input type="text" class="form-control" name="landVillage" id="field_landVillage"
                    ng-model="vm.apeksha.landVillage"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="janasanthwanamApp.apeksha.landDistrict" for="field_landDistrict">Land District</label>
            <input type="text" class="form-control" name="landDistrict" id="field_landDistrict"
                    ng-model="vm.apeksha.landDistrict"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="janasanthwanamApp.apeksha.thaluk" for="field_thaluk">Thaluk</label>
            <input type="text" class="form-control" name="thaluk" id="field_thaluk"
                    ng-model="vm.apeksha.thaluk"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="janasanthwanamApp.apeksha.requirementPurpose" for="field_requirementPurpose">Requirement Purpose</label>
            <input type="text" class="form-control" name="requirementPurpose" id="field_requirementPurpose"
                    ng-model="vm.apeksha.requirementPurpose"
                    required/>
            <div ng-show="editForm.requirementPurpose.$invalid">
                <p class="help-block"
                    ng-show="editForm.requirementPurpose.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="janasanthwanamApp.apeksha.recommendation" for="field_recommendation">Recommendation</label>
            <input type="text" class="form-control" name="recommendation" id="field_recommendation"
                    ng-model="vm.apeksha.recommendation"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="janasanthwanamApp.apeksha.hospitalName" for="field_hospitalName">Hospital Name</label>
            <input type="text" class="form-control" name="hospitalName" id="field_hospitalName"
                    ng-model="vm.apeksha.hospitalName"
                    required/>
            <div ng-show="editForm.hospitalName.$invalid">
                <p class="help-block"
                    ng-show="editForm.hospitalName.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="janasanthwanamApp.apeksha.treatmentHistory" for="field_treatmentHistory">Treatment History</label>
            <input type="text" class="form-control" name="treatmentHistory" id="field_treatmentHistory"
                    ng-model="vm.apeksha.treatmentHistory"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="janasanthwanamApp.apeksha.expectedAmount" for="field_expectedAmount">Expected Amount</label>
            <input type="number" class="form-control" name="expectedAmount" id="field_expectedAmount"
                    ng-model="vm.apeksha.expectedAmount"
                    required/>
            <div ng-show="editForm.expectedAmount.$invalid">
                <p class="help-block"
                    ng-show="editForm.expectedAmount.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.expectedAmount.$error.number" data-translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="janasanthwanamApp.apeksha.bankName" for="field_bankName">Bank Name</label>
            <input type="text" class="form-control" name="bankName" id="field_bankName"
                    ng-model="vm.apeksha.bankName"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="janasanthwanamApp.apeksha.bankBranchName" for="field_bankBranchName">Bank Branch Name</label>
            <input type="text" class="form-control" name="bankBranchName" id="field_bankBranchName"
                    ng-model="vm.apeksha.bankBranchName"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="janasanthwanamApp.apeksha.bankAccountNumber" for="field_bankAccountNumber">Bank Account Number</label>
            <input type="text" class="form-control" name="bankAccountNumber" id="field_bankAccountNumber"
                    ng-model="vm.apeksha.bankAccountNumber"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="janasanthwanamApp.apeksha.bankIfscCode" for="field_bankIfscCode">Bank Ifsc Code</label>
            <input type="text" class="form-control" name="bankIfscCode" id="field_bankIfscCode"
                    ng-model="vm.apeksha.bankIfscCode"
                    />
        </div>
        <div class="form-group" ngf-drop ngf-change="vm.setAdditionalDocuments($file, vm.apeksha)">
            <label class="control-label" data-translate="janasanthwanamApp.apeksha.additionalDocuments" for="field_additionalDocuments">Additional Documents</label>
            <div>
                <div ng-if="vm.apeksha.additionalDocuments" class="help-block clearfix">
                    <a class="pull-left" ng-click="vm.openFile(vm.apeksha.additionalDocumentsContentType, vm.apeksha.additionalDocuments)" data-translate="entity.action.open">open</a><br>
                    <span class="pull-left">{{vm.apeksha.additionalDocumentsContentType}}, {{vm.byteSize(vm.apeksha.additionalDocuments)}}</span>
                    <button type="button" ng-click="vm.apeksha.additionalDocuments=null;vm.apeksha.additionalDocumentsContentType=null;"
                            class="btn btn-default btn-xs pull-right">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </div>
                <button type="button" ngf-select class="btn btn-default btn-block"
                        ngf-change="vm.setAdditionalDocuments($file, vm.apeksha)" data-translate="entity.action.addblob">
                    Add blob
                </button>
            </div>
            <input type="hidden" class="form-control" name="additionalDocuments" id="field_additionalDocuments"
                    ng-model="vm.apeksha.additionalDocuments"
                    />
            <input type="hidden" class="form-control" name="additionalDocumentsContentType" id="field_additionalDocumentsContentType"
                    ng-model="vm.apeksha.additionalDocumentsContentType" />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="janasanthwanamApp.apeksha.remarks" for="field_remarks">Remarks</label>
            <input type="text" class="form-control" name="remarks" id="field_remarks"
                    ng-model="vm.apeksha.remarks"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="janasanthwanamApp.apeksha.dateOfApplcation" for="field_dateOfApplcation">Date Of Applcation</label>
                <div class="input-group">
                    <input id="field_dateOfApplcation" type="text" class="form-control" name="dateOfApplcation" uib-datepicker-popup="{{dateformat}}" ng-model="vm.apeksha.dateOfApplcation" is-open="vm.datePickerOpenStatus.dateOfApplcation"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('dateOfApplcation')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="janasanthwanamApp.apeksha.nomineeAvailable" for="field_nomineeAvailable">Nominee Available</label>
            <input type="text" class="form-control" name="nomineeAvailable" id="field_nomineeAvailable"
                    ng-model="vm.apeksha.nomineeAvailable"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="janasanthwanamApp.apeksha.nomineeName" for="field_nomineeName">Nominee Name</label>
            <input type="text" class="form-control" name="nomineeName" id="field_nomineeName"
                    ng-model="vm.apeksha.nomineeName"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="janasanthwanamApp.apeksha.nomineeGender" for="field_nomineeGender">Nominee Gender</label>
            <input type="text" class="form-control" name="nomineeGender" id="field_nomineeGender"
                    ng-model="vm.apeksha.nomineeGender"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="janasanthwanamApp.apeksha.nomineeAge" for="field_nomineeAge">Nominee Age</label>
            <input type="number" class="form-control" name="nomineeAge" id="field_nomineeAge"
                    ng-model="vm.apeksha.nomineeAge"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="janasanthwanamApp.apeksha.nomineeRelationship" for="field_nomineeRelationship">Nominee Relationship</label>
            <input type="text" class="form-control" name="nomineeRelationship" id="field_nomineeRelationship"
                    ng-model="vm.apeksha.nomineeRelationship"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="janasanthwanamApp.apeksha.nomineeHouseName" for="field_nomineeHouseName">Nominee House Name</label>
            <input type="text" class="form-control" name="nomineeHouseName" id="field_nomineeHouseName"
                    ng-model="vm.apeksha.nomineeHouseName"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="janasanthwanamApp.apeksha.nomineeHouseNumber" for="field_nomineeHouseNumber">Nominee House Number</label>
            <input type="text" class="form-control" name="nomineeHouseNumber" id="field_nomineeHouseNumber"
                    ng-model="vm.apeksha.nomineeHouseNumber"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="janasanthwanamApp.apeksha.nomineeTcNo" for="field_nomineeTcNo">Nominee Tc No</label>
            <input type="text" class="form-control" name="nomineeTcNo" id="field_nomineeTcNo"
                    ng-model="vm.apeksha.nomineeTcNo"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="janasanthwanamApp.apeksha.nomineeVillage" for="field_nomineeVillage">Nominee Village</label>
            <input type="text" class="form-control" name="nomineeVillage" id="field_nomineeVillage"
                    ng-model="vm.apeksha.nomineeVillage"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="janasanthwanamApp.apeksha.nomineeThaluk" for="field_nomineeThaluk">Nominee Thaluk</label>
            <input type="text" class="form-control" name="nomineeThaluk" id="field_nomineeThaluk"
                    ng-model="vm.apeksha.nomineeThaluk"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="janasanthwanamApp.apeksha.nomineePanchayat" for="field_nomineePanchayat">Nominee Panchayat</label>
            <input type="text" class="form-control" name="nomineePanchayat" id="field_nomineePanchayat"
                    ng-model="vm.apeksha.nomineePanchayat"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="janasanthwanamApp.apeksha.nomineePostOffice" for="field_nomineePostOffice">Nominee Post Office</label>
            <input type="text" class="form-control" name="nomineePostOffice" id="field_nomineePostOffice"
                    ng-model="vm.apeksha.nomineePostOffice"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="janasanthwanamApp.apeksha.nomineePinCode" for="field_nomineePinCode">Nominee Pin Code</label>
            <input type="text" class="form-control" name="nomineePinCode" id="field_nomineePinCode"
                    ng-model="vm.apeksha.nomineePinCode"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="janasanthwanamApp.apeksha.nomineeMobileNumber" for="field_nomineeMobileNumber">Nominee Mobile Number</label>
            <input type="text" class="form-control" name="nomineeMobileNumber" id="field_nomineeMobileNumber"
                    ng-model="vm.apeksha.nomineeMobileNumber"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="janasanthwanamApp.apeksha.nomineeLandLineWithSTD" for="field_nomineeLandLineWithSTD">Nominee Land Line With STD</label>
            <input type="text" class="form-control" name="nomineeLandLineWithSTD" id="field_nomineeLandLineWithSTD"
                    ng-model="vm.apeksha.nomineeLandLineWithSTD"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="janasanthwanamApp.apeksha.nomineeBankName" for="field_nomineeBankName">Nominee Bank Name</label>
            <input type="text" class="form-control" name="nomineeBankName" id="field_nomineeBankName"
                    ng-model="vm.apeksha.nomineeBankName"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="janasanthwanamApp.apeksha.nomineeBankBranch" for="field_nomineeBankBranch">Nominee Bank Branch</label>
            <input type="text" class="form-control" name="nomineeBankBranch" id="field_nomineeBankBranch"
                    ng-model="vm.apeksha.nomineeBankBranch"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="janasanthwanamApp.apeksha.nomineeBankAccountNumber" for="field_nomineeBankAccountNumber">Nominee Bank Account Number</label>
            <input type="text" class="form-control" name="nomineeBankAccountNumber" id="field_nomineeBankAccountNumber"
                    ng-model="vm.apeksha.nomineeBankAccountNumber"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="janasanthwanamApp.apeksha.nomineeBankIfscCode" for="field_nomineeBankIfscCode">Nominee Bank Ifsc Code</label>
            <input type="text" class="form-control" name="nomineeBankIfscCode" id="field_nomineeBankIfscCode"
                    ng-model="vm.apeksha.nomineeBankIfscCode"
                    />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
