
<div>
    <h2><span data-translate="janasanthwanamApp.apeksha.detail.title">Apeksha</span> {{vm.apeksha.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="janasanthwanamApp.apeksha.applicationNumber">Application Number</span></dt>
        <dd>
            <span>{{vm.apeksha.applicationNumber}}</span>
        </dd>
        <dt><span data-translate="janasanthwanamApp.apeksha.beneficiaryName">Beneficiary Name</span></dt>
        <dd>
            <span>{{vm.apeksha.beneficiaryName}}</span>
        </dd>
        <dt><span data-translate="janasanthwanamApp.apeksha.district">District</span></dt>
        <dd>
            <span>{{vm.apeksha.district}}</span>
        </dd>
        <dt><span data-translate="janasanthwanamApp.apeksha.gender">Gender</span></dt>
        <dd>
            <span>{{vm.apeksha.gender}}</span>
        </dd>
        <dt><span data-translate="janasanthwanamApp.apeksha.fathersName">Fathers Name</span></dt>
        <dd>
            <span>{{vm.apeksha.fathersName}}</span>
        </dd>
        <dt><span data-translate="janasanthwanamApp.apeksha.age">Age</span></dt>
        <dd>
            <span>{{vm.apeksha.age}}</span>
        </dd>
        <dt><span data-translate="janasanthwanamApp.apeksha.dateOfBirth">Date Of Birth</span></dt>
        <dd>
            <span>{{vm.apeksha.dateOfBirth | date:'mediumDate'}}</span>
        </dd>
        <dt><span data-translate="janasanthwanamApp.apeksha.aadharNumber">Aadhar Number</span></dt>
        <dd>
            <span>{{vm.apeksha.aadharNumber}}</span>
        </dd>
        <dt><span data-translate="janasanthwanamApp.apeksha.rationCardNumber">Ration Card Number</span></dt>
        <dd>
            <span>{{vm.apeksha.rationCardNumber}}</span>
        </dd>
        <dt><span data-translate="janasanthwanamApp.apeksha.rationCardCategory">Ration Card Category</span></dt>
        <dd>
            <span>{{vm.apeksha.rationCardCategory}}</span>
        </dd>
        <dt><span data-translate="janasanthwanamApp.apeksha.caste">Caste</span></dt>
        <dd>
            <span>{{vm.apeksha.caste}}</span>
        </dd>
        <dt><span data-translate="janasanthwanamApp.apeksha.religion">Religion</span></dt>
        <dd>
            <span>{{vm.apeksha.religion}}</span>
        </dd>
        <dt><span data-translate="janasanthwanamApp.apeksha.houseName">House Name</span></dt>
        <dd>
            <span>{{vm.apeksha.houseName}}</span>
        </dd>
        <dt><span data-translate="janasanthwanamApp.apeksha.houseNumber">House Number</span></dt>
        <dd>
            <span>{{vm.apeksha.houseNumber}}</span>
        </dd>
        <dt><span data-translate="janasanthwanamApp.apeksha.tcNumber">Tc Number</span></dt>
        <dd>
            <span>{{vm.apeksha.tcNumber}}</span>
        </dd>
        <dt><span data-translate="janasanthwanamApp.apeksha.village">Village</span></dt>
        <dd>
            <span>{{vm.apeksha.village}}</span>
        </dd>
        <dt><span data-translate="janasanthwanamApp.apeksha.panchayat">Panchayat</span></dt>
        <dd>
            <span>{{vm.apeksha.panchayat}}</span>
        </dd>
        <dt><span data-translate="janasanthwanamApp.apeksha.postOffice">Post Office</span></dt>
        <dd>
            <span>{{vm.apeksha.postOffice}}</span>
        </dd>
        <dt><span data-translate="janasanthwanamApp.apeksha.mobileNumber">Mobile Number</span></dt>
        <dd>
            <span>{{vm.apeksha.mobileNumber}}</span>
        </dd>
        <dt><span data-translate="janasanthwanamApp.apeksha.landLineWithSTD">Land Line With STD</span></dt>
        <dd>
            <span>{{vm.apeksha.landLineWithSTD}}</span>
        </dd>
        <dt><span data-translate="janasanthwanamApp.apeksha.pinCode">Pin Code</span></dt>
        <dd>
            <span>{{vm.apeksha.pinCode}}</span>
        </dd>
        <dt><span data-translate="janasanthwanamApp.apeksha.occupation">Occupation</span></dt>
        <dd>
            <span>{{vm.apeksha.occupation}}</span>
        </dd>
        <dt><span data-translate="janasanthwanamApp.apeksha.annualIncome">Annual Income</span></dt>
        <dd>
            <span>{{vm.apeksha.annualIncome}}</span>
        </dd>
        <dt><span data-translate="janasanthwanamApp.apeksha.familyDetails">Family Details</span></dt>
        <dd>
            <span>{{vm.apeksha.familyDetails}}</span>
        </dd>
        <dt><span data-translate="janasanthwanamApp.apeksha.landTotalCent">Land Total Cent</span></dt>
        <dd>
            <span>{{vm.apeksha.landTotalCent}}</span>
        </dd>
        <dt><span data-translate="janasanthwanamApp.apeksha.landThaluk">Land Thaluk</span></dt>
        <dd>
            <span>{{vm.apeksha.landThaluk}}</span>
        </dd>
        <dt><span data-translate="janasanthwanamApp.apeksha.landVillage">Land Village</span></dt>
        <dd>
            <span>{{vm.apeksha.landVillage}}</span>
        </dd>
        <dt><span data-translate="janasanthwanamApp.apeksha.landDistrict">Land District</span></dt>
        <dd>
            <span>{{vm.apeksha.landDistrict}}</span>
        </dd>
        <dt><span data-translate="janasanthwanamApp.apeksha.thaluk">Thaluk</span></dt>
        <dd>
            <span>{{vm.apeksha.thaluk}}</span>
        </dd>
        <dt><span data-translate="janasanthwanamApp.apeksha.requirementPurpose">Requirement Purpose</span></dt>
        <dd>
            <span>{{vm.apeksha.requirementPurpose}}</span>
        </dd>
        <dt><span data-translate="janasanthwanamApp.apeksha.recommendation">Recommendation</span></dt>
        <dd>
            <span>{{vm.apeksha.recommendation}}</span>
        </dd>
        <dt><span data-translate="janasanthwanamApp.apeksha.hospitalName">Hospital Name</span></dt>
        <dd>
            <span>{{vm.apeksha.hospitalName}}</span>
        </dd>
        <dt><span data-translate="janasanthwanamApp.apeksha.treatmentHistory">Treatment History</span></dt>
        <dd>
            <span>{{vm.apeksha.treatmentHistory}}</span>
        </dd>
        <dt><span data-translate="janasanthwanamApp.apeksha.expectedAmount">Expected Amount</span></dt>
        <dd>
            <span>{{vm.apeksha.expectedAmount}}</span>
        </dd>
        <dt><span data-translate="janasanthwanamApp.apeksha.bankName">Bank Name</span></dt>
        <dd>
            <span>{{vm.apeksha.bankName}}</span>
        </dd>
        <dt><span data-translate="janasanthwanamApp.apeksha.bankBranchName">Bank Branch Name</span></dt>
        <dd>
            <span>{{vm.apeksha.bankBranchName}}</span>
        </dd>
        <dt><span data-translate="janasanthwanamApp.apeksha.bankAccountNumber">Bank Account Number</span></dt>
        <dd>
            <span>{{vm.apeksha.bankAccountNumber}}</span>
        </dd>
        <dt><span data-translate="janasanthwanamApp.apeksha.bankIfscCode">Bank Ifsc Code</span></dt>
        <dd>
            <span>{{vm.apeksha.bankIfscCode}}</span>
        </dd>
        <dt><span data-translate="janasanthwanamApp.apeksha.additionalDocuments">Additional Documents</span></dt>
        <dd>
            <div ng-if="vm.apeksha.additionalDocuments">
                <a ng-click="vm.openFile(vm.apeksha.additionalDocumentsContentType, vm.apeksha.additionalDocuments)" data-translate="entity.action.open">open</a>
                {{vm.apeksha.additionalDocumentsContentType}}, {{vm.byteSize(vm.apeksha.additionalDocuments)}}
            </div>
        </dd>
        <dt><span data-translate="janasanthwanamApp.apeksha.remarks">Remarks</span></dt>
        <dd>
            <span>{{vm.apeksha.remarks}}</span>
        </dd>
        <dt><span data-translate="janasanthwanamApp.apeksha.dateOfApplcation">Date Of Applcation</span></dt>
        <dd>
            <span>{{vm.apeksha.dateOfApplcation | date:'mediumDate'}}</span>
        </dd>
        <dt><span data-translate="janasanthwanamApp.apeksha.nomineeAvailable">Nominee Available</span></dt>
        <dd>
            <span>{{vm.apeksha.nomineeAvailable}}</span>
        </dd>
        <dt><span data-translate="janasanthwanamApp.apeksha.nomineeName">Nominee Name</span></dt>
        <dd>
            <span>{{vm.apeksha.nomineeName}}</span>
        </dd>
        <dt><span data-translate="janasanthwanamApp.apeksha.nomineeGender">Nominee Gender</span></dt>
        <dd>
            <span>{{vm.apeksha.nomineeGender}}</span>
        </dd>
        <dt><span data-translate="janasanthwanamApp.apeksha.nomineeAge">Nominee Age</span></dt>
        <dd>
            <span>{{vm.apeksha.nomineeAge}}</span>
        </dd>
        <dt><span data-translate="janasanthwanamApp.apeksha.nomineeRelationship">Nominee Relationship</span></dt>
        <dd>
            <span>{{vm.apeksha.nomineeRelationship}}</span>
        </dd>
        <dt><span data-translate="janasanthwanamApp.apeksha.nomineeHouseName">Nominee House Name</span></dt>
        <dd>
            <span>{{vm.apeksha.nomineeHouseName}}</span>
        </dd>
        <dt><span data-translate="janasanthwanamApp.apeksha.nomineeHouseNumber">Nominee House Number</span></dt>
        <dd>
            <span>{{vm.apeksha.nomineeHouseNumber}}</span>
        </dd>
        <dt><span data-translate="janasanthwanamApp.apeksha.nomineeTcNo">Nominee Tc No</span></dt>
        <dd>
            <span>{{vm.apeksha.nomineeTcNo}}</span>
        </dd>
        <dt><span data-translate="janasanthwanamApp.apeksha.nomineeVillage">Nominee Village</span></dt>
        <dd>
            <span>{{vm.apeksha.nomineeVillage}}</span>
        </dd>
        <dt><span data-translate="janasanthwanamApp.apeksha.nomineeThaluk">Nominee Thaluk</span></dt>
        <dd>
            <span>{{vm.apeksha.nomineeThaluk}}</span>
        </dd>
        <dt><span data-translate="janasanthwanamApp.apeksha.nomineePanchayat">Nominee Panchayat</span></dt>
        <dd>
            <span>{{vm.apeksha.nomineePanchayat}}</span>
        </dd>
        <dt><span data-translate="janasanthwanamApp.apeksha.nomineePostOffice">Nominee Post Office</span></dt>
        <dd>
            <span>{{vm.apeksha.nomineePostOffice}}</span>
        </dd>
        <dt><span data-translate="janasanthwanamApp.apeksha.nomineePinCode">Nominee Pin Code</span></dt>
        <dd>
            <span>{{vm.apeksha.nomineePinCode}}</span>
        </dd>
        <dt><span data-translate="janasanthwanamApp.apeksha.nomineeMobileNumber">Nominee Mobile Number</span></dt>
        <dd>
            <span>{{vm.apeksha.nomineeMobileNumber}}</span>
        </dd>
        <dt><span data-translate="janasanthwanamApp.apeksha.nomineeLandLineWithSTD">Nominee Land Line With STD</span></dt>
        <dd>
            <span>{{vm.apeksha.nomineeLandLineWithSTD}}</span>
        </dd>
        <dt><span data-translate="janasanthwanamApp.apeksha.nomineeBankName">Nominee Bank Name</span></dt>
        <dd>
            <span>{{vm.apeksha.nomineeBankName}}</span>
        </dd>
        <dt><span data-translate="janasanthwanamApp.apeksha.nomineeBankBranch">Nominee Bank Branch</span></dt>
        <dd>
            <span>{{vm.apeksha.nomineeBankBranch}}</span>
        </dd>
        <dt><span data-translate="janasanthwanamApp.apeksha.nomineeBankAccountNumber">Nominee Bank Account Number</span></dt>
        <dd>
            <span>{{vm.apeksha.nomineeBankAccountNumber}}</span>
        </dd>
        <dt><span data-translate="janasanthwanamApp.apeksha.nomineeBankIfscCode">Nominee Bank Ifsc Code</span></dt>
        <dd>
            <span>{{vm.apeksha.nomineeBankIfscCode}}</span>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="apeksha-detail.edit({id:vm.apeksha.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
